body{
  overflow: hidden;
}

#fidgetBackground{
  z-index: 1;
  height: 385px;
  width: 385px;
  position: fixed;
  margin: 10px 900px px 10px;
}

#fidget{
  height: 250px;
  width: 250px;
  position: absolute;
  margin: 85px auto 70px 70px;
  animation: spin 5s cubic-bezier(.30,.60,.60,1);
  z-index: 2;
}

#lightbulb {
    position: fixed;
    height: 340px;
    width: 340px;
    top: 400px;
    left: 375px;
}

#garage{
  background-color: purple;
  left:500px;
  bottom:0;
  height: 300px;
  width: 300px;
}

#closet {
  width: 740px;
height: 375px;
top: 10px;
left: 410px;
position: absolute;
background-color: yellow;
}

#joystick {
    width: 200px;
    height: 200px;
    top: 85px;
    right: 350px;
    position: absolute;
}

.rotate{
  transform: rotate(90deg);
}

#temperaturePotentimeter{

}

#voiceStream{
  width: 600px;
  height: 150px;
  top: 400px;
  right: 360px;
  position: absolute;
  background-color: orange;
}

#recentTwilo{
  width: 600px;
  height: 150px;
  top: 565px;
  right: 360px;
  position: absolute;
  background-color: orange;
}

#earthquake{
  background-color: red;
  width: 100vw;
  right: 10px;
  height: 200px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#camera {
  background-color: blue;
  width: 340px;
  height: 350px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.temperatureWrapper {
  position: fixed;
width: 325px;
margin: 400px 25px 45px;
transition: all 1s;
transform-origin: 50% 50%;
z-index: 1;
  }


.temperatureInner {
  position: absolute;
  margin: 615px 800px 45px 170px;
	display: inline-block;
	padding: 1em;
	transition: transform 1s;
  z-index: 2;
}

html:hover .temperatureWrapper {
	transform: rotate(180deg);
}
html:hover .temperatureInner {
	transform: rotate(-180deg);
}


@keyframes spin { 100% { transform: rotate(3600deg) }};
