
#fidgetBackground{
    height: 100%;
    width: 100%;
    z-index: 1;
    height: 400px;
    width: 400px;
}

#fidget{
  height: 250px;
  width: 250px;
  position: absolute;
  left: 75px;
  top: 75px;
  animation: spin 5s cubic-bezier(.30,.60,.60,1);
  z-index: 2;
}

#light{
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: 0;
}

#garage{
  left:0;
  bottom:0;
  height: 300px;
  width: 300px;
  position: absolute;
}

@keyframes spin { 100% { transform: rotate(3600deg) }};
